.character-span {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
}

.hide-link {
  color: white;
  font-style: normal;
  text-decoration: none;
}

.hide-link:hover {
  color: white;
  font-style: normal;
  text-decoration: none;
}

.header {
  padding: 2rem 0;
  background: #2b2b2b;
  color: white;
}

.navigation-header {
  background: #ae0017;
  color: white;
  padding: 10px 0 10px 20px;
  font-weight: 700;
}

.navigation-link {
  font-size: 1.35rem;
  margin-right: 50px;
}

.header-image {
  width: 55px;
  height: auto;
  margin-left: 10px;
  filter: invert(100%);
  float: left;
}

.header-text {
  display: inline-block;
  margin-left: 15px;
}

.message-container {
  width: 100%;
  margin-top: 10%;
}

.message-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loading-image {
  width: 200px;
  height: auto;
}

.message-label {
  text-align: center;
}

.invalid-char-image,
.invalid-img {
  width: 500px;
  height: auto;
}
