.moveHeader {
  text-align: center;
  background-color: #478987;
  padding: 1.25rem;
  margin-bottom: 2rem;
  color: #000000;
  border: 1px solid #000000;
}

#moveCard {
  border: 1px solid #ae0017;
  width: 25rem;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
  font-size: 1.25rem;
}

#moveCardMoveName {
  background-color: #2b2b2b;
  color: #ffffff;
}

#moveCard div {
  border: 1px solid #dddddd;
  padding: .25rem;
}

#characterImageDiv {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
}
